.container.text-center
  = paginate @entry_list
.container
  %ul.list-group
    - @entry_list.each do |entry|
      %li.list-group-item
        = link_to entry.title, entry.url, target: '_blank'
        %small
          \-
          = link_to entry.feed.title, entry.feed.url, target: '_blank'
.container.text-center
  = paginate @entry_list
