.row-fluid
  .span12
    - @entry_list.each do |entry|
      .alert.alert-info
        = link_to entry.title, entry.url, target: '_blank', class: 'list-group-item'
        %small
          \-
          %small= link_to entry.feed.title, entry.feed.url, target: '_blank'
.row-fluid
  .span12
    = paginate @entry_list
